[Unit]
Description=Peacock
After=local-fs.target

[Container]
ContainerName=peacock
Image=ghcr.io/gsquarediv/peacock-docker:latest

Volume=peacock-userdata:/peacock/userdata
Volume=peacock-contracts:/peacock/contracts
Volume=peacock-contractSessions:/peacock/contractSessions
Volume=peacock-plugins:/peacock/plugins
Volume=peacock-options:/peacock/options

PublishPort=3000:3000

AutoUpdate=registry

HealthCmd=curl -fsS http://localhost:3000 || exit 1
HealthInterval=60s
HealthTimeout=5s
HealthRetries=3
HealthStartPeriod=20s

[Service]
Restart=always

[Install]
WantedBy=default.target
