name: Check for Peacock release

on:
  schedule:
    - cron: "0 1 * * *"
  workflow_dispatch:      # allow manual trigger

jobs:
  check-for-new-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write    # needed to create tags/releases
    outputs:
      tag: ${{ steps.target.outputs.tag }}
      tag_latest: ${{ steps.target.outputs.tag_latest }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Get latest Peacock release info
        id: peacock
        run: |
          API="https://api.github.com/repos/thepeacockproject/Peacock/releases/latest"
          RESPONSE=$(curl -s $API)
          TAG=$(echo "$RESPONSE" | jq -r '.tag_name')
          echo "tag=$TAG"
          if [[ "$TAG" =~ ^v?(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*) ]]; then
            echo "tag=$TAG" >> $GITHUB_OUTPUT
          else
            exit 1
          fi

      - name: Check if tag exists in this repo
        id: target
        run: |
          TAG=${{ steps.peacock.outputs.tag }}
          if git ls-remote --tags origin | grep -q "refs/tags/$TAG$"; then
            echo "tag_latest=false" >> $GITHUB_OUTPUT
            echo "tag=${{ github.ref_name }}" >> $GITHUB_OUTPUT
          else
            echo "tag_latest=true" >> $GITHUB_OUTPUT
            echo "tag=$TAG" >> $GITHUB_OUTPUT
          fi

      - name: Create release in this repo
        if: steps.target.outputs.tag_latest == 'true'
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          TAG=${{ steps.peacock.outputs.tag }}
          gh release create "$TAG" --title "Peacock $TAG" --notes "Synced from thepeacockproject/Peacock $TAG"
  
  call-docker-build:
    needs: check-for-new-release
    if: needs.check-for-new-release.outputs.tag_latest == 'true'
    permissions:
      contents: read
      packages: write
      id-token: write
    uses: ./.github/workflows/docker-publish.yml
    with:
      tag-name: ${{ needs.check-for-new-release.outputs.tag }}
